<!doctype html>
<html lang="en" ng-app="encounterApp">
<head>
  <meta charset="utf-8">
  <title>Encounter Generator</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="EncounterCtrl">
  <div class="container-fluid">
    <div class="row">

            <div class="col-md-9 col-sm-12 container pull-right">
              <div class="jumbotron" ng-if="selectedMonster">
                <h1>{{selectedMonster.name || "Monster Details"}}</h1>
                <div class="container">

                <div class="col-md-4">
                  <span class="lead" ng-if="some_name">Name: <em class="pull-right">{{some_name}}</em></span>
                  <ul class="list-unstyled">
                    <li><span class="lead">Strength: <em class="pull-right">{{selectedMonster.str}}</em></span></li>
                    <li><span class="lead">Dexterity: <em class="pull-right">{{selectedMonster.dex}}</em></span></li>
                    <li><span class="lead">Constitution: <em class="pull-right">{{selectedMonster.con}}</em></span></li>
                    <li><span class="lead">Intelligence: <em class="pull-right">{{selectedMonster.int}}</em></span></li>
                    <li><span class="lead">Wisdom: <em class="pull-right">{{selectedMonster.wis}}</em></span></li>
                    <li><span class="lead">Charisma: <em class="pull-right">{{selectedMonster.cha}}</em></span></li>
                  </ul>
                </div>

                </div>
                <ul class="list-inline">
                  <li>
                    <button class="btn btn-primary btn-lg" href="#" role="button" ng-click="addMonster(some_name, selectedMonster.name)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add to Encounter</button>
                  </li>
                  <li>
                    <button class="btn btn-success btn-lg" href="#" role="button" ng-click="addName()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Generate Name</button>
                  </li>
                </ul>
              </div>
            </div>

      <div class="col-md-3">
          <div class="search-alert">
            <ul class="list-inline">
              <li>
                <input type="text" class="form-control" id="monster-search" placeholder="Monster name..." ng-model="query">
              </li>
              <li>
                <button class="btn btn-primary btn-sm" type="button" ng-click="generateXML()">
                Generate <span class="badge">{{$storage.monsterCount}}</span>
              </button>
              </li>
            </ul>
          </div>
        <ul class="monsters-list">
          <li ng-repeat="monster in monsters | filter:query">
            <a href="#" ng-click="getMonsterInfo(monster.id)">{{monster.name}}</a>
          </li>
        </ul>
      </div>


    </div>
  </div>
</body>
</html>
