<!doctype html>
<html lang="en" ng-app="encounterApp">
<head>
  <meta charset="utf-8">
  <title>Encounter Generator</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="EncounterCtrl">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <span class="navbar-brand" href="#">
          Encounter Builder
        </span>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ng-click="clearList()">Clear List</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" ng-click="open('lg')">Generate Encounter <span class="badge">{{$storage.monsterCount}}</span></a></li>
          <li>
            <form class="navbar-form" role="search">
              <div class="form-group">
                <!-- <div class="input-group"> -->
                  <input type="text" ng-model="selected" uib-typeahead="monster as monster.name for monster in monsters | filter:$viewValue | limitTo:10" class="form-control" placeholder="Monster name" typeahead-on-select="getMonsterInfo(selected.id)">
                  <!-- <div class="input-group-addon" id="clear-btn" ng-click="selected = ''"><span class="glyphicon glyphicon-remove"></span></div> -->
                  <button type="button" class="btn btn-sm" ng-click="selected = ''"><span class="glyphicon glyphicon-remove"></button>
                <!-- </div> -->
              </div>
            </form>
          </li>
        </ul>

    </div>
  </nav>

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-sm-12 container">

        <div class="jumbotron" ng-if="selectedMonster">
          <h1>{{selectedMonster.name || "Monster Details"}}</h1>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <span class="lead" ng-if="some_name">Name: <em class="pull-right">{{some_name}}</em></span>
                <ul class="list-unstyled">
                  <li><span class="lead">Strength: <em class="pull-right">{{selectedMonster.str}}</em></span></li>
                  <li><span class="lead">Dexterity: <em class="pull-right">{{selectedMonster.dex}}</em></span></li>
                  <li><span class="lead">Constitution: <em class="pull-right">{{selectedMonster.con}}</em></span></li>
                  <li><span class="lead">Intelligence: <em class="pull-right">{{selectedMonster.int}}</em></span></li>
                  <li><span class="lead">Wisdom: <em class="pull-right">{{selectedMonster.wis}}</em></span></li>
                  <li><span class="lead">Charisma: <em class="pull-right">{{selectedMonster.cha}}</em></span></li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-6">
                <ul class="list-unstyled">
                  <li><span class="lead">Armor Class: <span class="pull-right">{{selectedMonster.ac}}</span></span></li>
                  <li><span class="lead">Hit Points: <span class="pull-right">{{selectedMonster.hp}}</span></span></li>
                  <li><span class="lead">Size: <span class="pull-right">{{selectedMonster.size}}</span></span></li>
                  <li><span class="lead">Challenge Rating: <span class="pull-right">{{selectedMonster.cr}}</span></span></li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12">
                <ul>
                  <div ng-if="isArray(selectedMonster.action)">
                    <li ng-repeat="action in selectedMonster.action">
                      <span class="lead">{{ action.name }}: </span>
                      <ul>
                        <div ng-if="!isArray(action.text)">
                          <li>
                            <span>{{ action.text }}</span>
                          </li>
                        </div>
                        <div ng-if="isArray(action.text)">
                          <li ng-repeat="attack in action.text track by $index">
                            <span>{{ attack }}</span>
                          </li>
                        </div>
                      </ul>
                    </li>
                  </div>
                  <div ng-if="!isArray(selectedMonster.action)">
                    <li>
                      <span class="lead">{{selectedMonster.action.name}}</span>
                      <ul>
                        <li><span>{{selectedMonster.action.text}}</span></li>
                      </ul>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="container">
              <div class="col-xs-12 col-sm-12">
                <ul class="list-inline">
                  <li>
                    <button class="btn btn-primary btn-lg" ng-click="addMonster(some_name, selectedMonster.name)"><span class="glyphicon glyphicon-plus"></span> Add to Encounter</button>
                  </li>
                  <li>
                    <button class="btn btn-success btn-lg" ng-click="addName()"><span class="glyphicon glyphicon-refresh" ></span> Generate Name</button>
                  </li>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <ul class="monsters-list" ng-show="showList">
        <li ng-repeat="monster in monsters | filter:query">
          <a href="#" ng-click="getMonsterInfo(monster.id)">{{monster.name}}</a>
        </li>
      </ul>
    </div>

  </div>

  <form id="battle-form" action="{{battleName}}" method="get"></form>

  <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">Generate Encounter with {{storage.monsterCount || 0}} Enemies</h3>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="encounter-name" placeholder="Encounter Name" ng-model="encounter_name">
        <ul>
          <li ng-repeat="enemy in storage.encounter">{{enemy.label}} the {{enemy.monster}}</li>
        </ul>
      </div>
      <div class="modal-footer">
          <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="!storage.monsterCount || encounter_name == undefined || encounter_name == ''">Generate XML</button>
          <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      </div>
  </script>

</body>
</html>
